<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give2Charity</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="../reward/script.css" rel="stylesheet">
</head>
<body>
  

     <div class="rewardmain">
         <div class="rewardmaininside">
 
             <div class="inside">

           
                
         <h2>Hello <%= admin.fname %></h2>
         
         <p>As of now u have <%= (admin.detail.length) * 10 %>💰 in your account</p>
         <div class="insidebutton">
            <a href="/" role="button">Home</a> 
         </div>
         </div>
        </div>
     </div>

    
</body>
</html>